In [1]:
addprocs(7)

7-element Array{Int64,1}:
 2
 3
 4
 5
 6
 7
 8

In [2]:
nprocs()

8

In [3]:
dat=map(x->round(Int,x*10),rand(10000,10000))

10000x10000 Array{Int64,2}:
  8  6   1   5   2   2  4   4  2  2  …   1  8   7  0   4   9   3   5  9   5
  4  7   7   3   1   7  1   5  4  9     10  6   5  2   3   7   6   7  4   2
  6  4   8   2   9   9  5   8  3  7      2  2   7  4   4   1   5   7  9   4
  2  1   8   8   6   4  2   0  1  7      1  4   5  1  10   8   5   1  6   1
  1  3   0   8   9   0  2   3  0  0      5  9   8  2   9   6   8   7  3   8
 10  0   6   1   8   7  8  10  1  7  …   2  1   0  1   6   5   2   2  1   7
 10  8   6   6   9   3  6   2  5  8      4  2   1  3   2   9   7   4  5   3
  8  4   9   2   2   6  3   9  9  4      0  9  10  0   5   8   0   8  7   4
  5  7   5   9   7   9  5   0  0  5      2  2   6  9   5   6   5   9  2   2
  2  4   6  10   3   2  7   2  8  2      7  9   8  8   0   3   0   0  7   2
  8  0   9   7   2   8  6   6  3  3  …   6  9   4  4  10   2   8   1  6   4
  3  8   8   3   9   0  0   5  5  6     10  4  10  2   3   3   3   6  3   8
 10  1   7   6   5   3  5   1  5  4      4  1   8  2   7   4   1  10  5   0
  ⋮                  ⋮               ⋱   ⋮                 ⋮
  9  9   5   0   7   0  7   9  6  2     10  4   8  4   5   5   9   5  2   8
  4  9  10   6   3   7  6   5  0  5      3  5   9  1   4   7   4   8  5   8
  8  0   3   9  10   1  4   2  4  8  …   3  3   1  8   1  10   2   7  7  10
  5  3   3  10   1  10  4   4  1  8      9  8   8  7   7   5   7   8  4   9
  4  3   8   2   1   0  5   4  4  2      0  7   5  1   6   2   7   2  9   0
  4  5   9   6   5   2  1   1  9  1      5  7   9  9   5   5   2   4  8   8
  1  2   9   6   6   7  3  10  2  8      4  7   8  2   8   3   1   7  2   5
  9  0   3   3  10   3  9   4  1  7  …   7  2   7  1   1   7   8  10  1   8
  9  9   3   6   0   6  6   9  1  7      6  8   1  9   8   2  10   9  4   0
  2  9   6   1   6   6  7  10  7  2      5  8   8  1   7   7  10  10  7   3
  9  3   7   3   9   1  5   7  1  5      2  1   4  9   1   7   6   8  1   1
  2  3   1   9   4   9  8   3  7  3      2  3   4  1   1   2   5   7  5   7

In [5]:
using DistributedArrays

ddat=distribute(dat)

10000x10000 DistributedArrays.DArray{Int64,2,Array{Int64,2}}:
  8  6   1   5   2   2  4   4  2  2  …   1  8   7  0   4   9   3   5  9   5
  4  7   7   3   1   7  1   5  4  9     10  6   5  2   3   7   6   7  4   2
  6  4   8   2   9   9  5   8  3  7      2  2   7  4   4   1   5   7  9   4
  2  1   8   8   6   4  2   0  1  7      1  4   5  1  10   8   5   1  6   1
  1  3   0   8   9   0  2   3  0  0      5  9   8  2   9   6   8   7  3   8
 10  0   6   1   8   7  8  10  1  7  …   2  1   0  1   6   5   2   2  1   7
 10  8   6   6   9   3  6   2  5  8      4  2   1  3   2   9   7   4  5   3
  8  4   9   2   2   6  3   9  9  4      0  9  10  0   5   8   0   8  7   4
  5  7   5   9   7   9  5   0  0  5      2  2   6  9   5   6   5   9  2   2
  2  4   6  10   3   2  7   2  8  2      7  9   8  8   0   3   0   0  7   2
  8  0   9   7   2   8  6   6  3  3  …   6  9   4  4  10   2   8   1  6   4
  3  8   8   3   9   0  0   5  5  6     10  4  10  2   3   3   3   6  3   8
 10  1   7   6   5   3  5   1  5  4      4  1   8  2   7   4   1  10  5   0
  ⋮                  ⋮               ⋱   ⋮                 ⋮
  9  9   5   0   7   0  7   9  6  2     10  4   8  4   5   5   9   5  2   8
  4  9  10   6   3   7  6   5  0  5      3  5   9  1   4   7   4   8  5   8
  8  0   3   9  10   1  4   2  4  8  …   3  3   1  8   1  10   2   7  7  10
  5  3   3  10   1  10  4   4  1  8      9  8   8  7   7   5   7   8  4   9
  4  3   8   2   1   0  5   4  4  2      0  7   5  1   6   2   7   2  9   0
  4  5   9   6   5   2  1   1  9  1      5  7   9  9   5   5   2   4  8   8
  1  2   9   6   6   7  3  10  2  8      4  7   8  2   8   3   1   7  2   5
  9  0   3   3  10   3  9   4  1  7  …   7  2   7  1   1   7   8  10  1   8
  9  9   3   6   0   6  6   9  1  7      6  8   1  9   8   2  10   9  4   0
  2  9   6   1   6   6  7  10  7  2      5  8   8  1   7   7  10  10  7   3
  9  3   7   3   9   1  5   7  1  5      2  1   4  9   1   7   6   8  1   1
  2  3   1   9   4   9  8   3  7  3      2  3   4  1   1   2   5   7  5   7

In [6]:
map(x->myid(),dat)

10000x10000 Array{Int64,2}:
 1  1  1  1  1  1  1  1  1  1  1  1  1  …  1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1  …  1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1  …  1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 ⋮              ⋮              ⋮        ⋱        ⋮              ⋮
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1  …  1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1  …  1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1
 1  1  1  1  1  1  1  1  1  1  1  1  1     1  1  1  1  1  1  1  1  1  1  1  1

In [7]:
map(x->myid(),ddat)

10000x10000 DistributedArrays.DArray{Int64,2,Array{Int64,2}}:
 2  2  2  2  2  2  2  2  2  2  2  2  2  …  8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2  …  8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2  …  8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 ⋮              ⋮              ⋮        ⋱        ⋮              ⋮
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2  …  8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2  …  8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8
 2  2  2  2  2  2  2  2  2  2  2  2  2     8  8  8  8  8  8  8  8  8  8  8  8

In [9]:
@time map(sin,dat);

  6.590450 seconds (100.00 M allocations: 2.235 GB, 2.23% gc time)

In [10]:
@time map(sin,ddat);

  1.633484 seconds (16.63 k allocations: 995.344 KB)

In [11]:
function intsum(x)
  if x==0 
    0
  else
    x+intsum(x-1)
  end
end

intsum (generic function with 1 method)

In [12]:
@time reduce(+,map(intsum,dat))

1924866723

5.953302 seconds (93.31 k allocations: 766.850 MB, 0.04% gc time)

In [13]:
@everywhere function intsum(x)
  if x==0 
    0
  else
    x+intsum(x-1)
  end
end

In [14]:
@time reduce(+,map(intsum,ddat))

1924866723

1.974677 seconds (33.86 k allocations: 2.082 MB)

In [15]:
@everywhere function rsumtail(x,n)
  if x==0
    n
  else
    rsumtail(x-1,n+x)
  end
end

@everywhere function rsumtail(x)
  rsumtail(x,0)
end

@everywhere function rsum(x)
  if x==0
    0
  else
    x+rsum(x-1)
  end
end

In [16]:
@time rsumtail(100000)

5000050000

0.003264 seconds (1.05 k allocations: 57.521 KB)

In [17]:
@time rsum(100000)

5000050000

0.002758 seconds (633 allocations: 33.311 KB)

In [18]:
@time (s=0;
for i in dat
  s+=intsum(i)
end;
s)

 26

1924866723

.790606 seconds (300.00 M allocations: 5.960 GB, 3.16% gc time)

In [19]:
@time @parallel (+) for i in dat
  intsum(i)
end

 16

1924866723

.463637 seconds (143.18 k allocations: 6.283 MB)

In [20]:
@time reduce(+,map(intsum,ddat))

1924866723

1.673824 seconds (15.08 k allocations: 1.180 MB)

In [21]:
ddat.indexes

1x7 Array{Tuple{UnitRange{Int64},UnitRange{Int64}},2}:
 (1:10000,1:1429)  (1:10000,1430:2857)  …  (1:10000,8572:10000)

In [22]:
ddat.chunks

1x7 Array{RemoteRef{RemoteStore},2}:
 RemoteRef{Channel{Any}}(2,1,23)  …  RemoteRef{Channel{Any}}(8,1,29)

In [24]:
ddat.pids

1x7 Array{Int64,2}:
 2  3  4  5  6  7  8

In [30]:
fetch(@spawnat 3 map(x->x,localpart(ddat)))

10000x1428 Array{Int64,2}:
  5   5   4  3   3   9  3   3  9   2  …   1   8   6   9   4   6   5  10  3
  6   9   8  4   7  10  5   1  3   2      7   5   3  10   9   7   9   8  5
  3   8   3  7   9   8  4   1  4   5      3   8   3   7   7   5   3   7  5
  3   2   7  8   8   4  7   3  3   1      5   1   2   7   4   4   8   4  7
  3   5   7  5   8   6  8   7  6   7      6   1   8   7  10   5   6   4  9
  1   8   2  4   0  10  7   6  4   8  …  10   6   4   9   4   4   0   3  3
  8   6   1  6   7   9  3   2  7   3      4   1   4   2   2   4   7  10  3
  8   6   5  6   7   8  8   6  2   6      5   2   1   4   2  10   9   2  4
  4   9   2  3   8   0  8   7  2   9      8   1   3  10   7   8  10   0  1
  6   8   9  2   2   2  8   7  4   5      7  10   4   3   1   7   6   6  3
  5   5   3  5   3   7  9   8  5   6  …   8   7   5   1   2   7   5   5  9
  3   2   7  3   1   6  6   4  6   9      5   9  10   9   8   6   1   2  6
  3   0   1  6   1   8  7   8  9   8      7   2   7   2   8   9   3   4  0
  ⋮                  ⋮                ⋱       ⋮                   ⋮
  8   7   0  2   4   3  3  10  6   6      4   7   7   9   3   5   9   3  5
  0   8   2  5   5   3  1   7  6   9      3   5   9   8   2   8   3   2  8
  5   5   4  2   4   7  8   4  7   8  …   5   9  10   1   1   8   4   4  2
  4  10   3  5   2   5  1   8  4   3      2   5   7   6   6   4   5   8  6
 10   1   8  4   2   3  1   9  5   9      8   1   1   1   6   8   1   9  6
  4  10   6  2   6   6  6   7  7   8      7   7   2   8   7   5   3   2  7
  7   4   2  3  10   3  7   5  6   3      2   5   6   5   1   9   6   7  5
  9   3   9  8   2   2  8   9  1   2  …   7   0   4   7   3   7   5   0  6
  8   6  10  3   5   5  9   7  3   9      7   5   2   4   2   7   4   1  6
 10   8   5  3   9   6  2   6  5  10      3   3   7   7   3   4   8  10  4
  5   0   4  1   2   4  1   1  8   2      3   3   3   5   1   8   2   1  7
  3   2   9  4   2   5  8   7  5   9      3   1   6   9   1   8   5   5  2

In [25]:
fetch(@spawnat 3 sum(x->x*x,localpart(ddat)))

478500436

In [34]:
map(fetch,[@spawnat p sum(map(x->x*x,localpart(ddat))) for p in ddat.pids])

7-element Array{Any,1}:
 478642323
 478500436
 478775883
 478334657
 478622426
 478253274
 478641183

In [40]:
@time reduce(+,map(fetch,[@spawnat p sum(map(x->x*x,localpart(ddat))) for p in procs(ddat)]))

3349770182

1.084731 seconds (7.28 k allocations: 570.891 KB)

In [45]:
@time reduce(+,map(x->x*x,ddat))

3349770182

0.922875 seconds (15.80 k allocations: 1.233 MB)

In [43]:
@time sum(x->x*x,dat)

3349770182

6.649570 seconds (98.16 M allocations: 1.463 GB, 5.26% gc time)